h1{ 
    font-family: "gajraj-one", sans-serif; 
    line-height:  60px; 
    position:fixed; 
    bottom: 0;
    margin: 40px; 
    font-size: 100px;
}

.U{
    color:  #000;
    z-index: 10;
    bottom: 68%;
    left: 8%;
    transform: rotate(90deg);
    position:fixed;
}

.K{
    color:  #000;
    z-index: 10;
    left: -2%;
    top:1%;
    transform:rotate(90deg);
    position:fixed;
}

img{ 
    position:absolute;
    left: 25px;
}

h2{ 
    font-family: "Young Serif";
    display: flex; 
    justify-content: flex-end;
    margin:40px 40px 0 0; 
    font-size: 40px; 
}

p{ 
    font-family: "Young Serif";
    line-height:22px;
    position: absolute;
}

.container{
    position: relative;
}
.circle{
    position: absolute;
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    background-color: #000 ;
    z-index: 10;
    right: 220px;
    top: 550px;  
}

.outline-circle{ 
    position: absolute;
    background-color: transparent ;
    z-index: 10;
    right: 250px;
    top: 400px;
    width: 300px; 
    height: 300px;
    border: 3px solid #000;
    border-radius: 50%; 
}

.O{
    position: absolute;
    background-color:  #000;
    width: 4px;
    height: 500px;
    left: 500px;
    bottom:500px;
}

.P{
    position: absolute;
    background-color: #000 ;
    width: 4px;
    height: 741px; 
    left: 350px;
}

.A {
    position: absolute;
    bottom: 30px;      
    left: 0;        
    width: 100%;   
    height: 5px;     
    background-color: #000; 
}

.R{
    position: absolute;
    bottom: 70px;      
    left: 500px;        
    width: 80px;   
    height: 5px;     
    background-color: #000;
    transform:rotate(90deg);
}

.M{ 
    position: absolute;
    bottom: 488px;      
    left: 260px;        
    width: 750px;   
    height: 5px;     
    background-color: #000;
    transform:rotate(90deg);
}

.L{
    position: absolute;
    top: 65px;      
    left: 500px;        
    width: 1110px;   
    height: 5px;     
    background-color: #000;
}

.one{ 
        top: 800px;
        left:560px;
        position:absolute;
        font-size: 22px;
}

.two{
    position:absolute; 
    z-index: 15;
    left:1270px;
    top: 640px;}

.third{ 
    position:absolute; 
    z-index: 15;
    left:1350px;
    top: 630px;
    color: white; 
    font-size: 25px;
    }

.fourth{ 
    position:absolute; 
    z-index: 15;
    left:1365px;
    top: 660px;
    color: white; 
    font-size: 18px;
}


.fifth{ 
    position:absolute; 
    z-index: 15;
    left:1535px;
    top: 660px;
    font-size: 25px;
}